.title {
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}

.links {
  text-align: center;
}
.links a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: x-large;
  padding: 15px;
  color: black;
}

.links a:hover {
  background-color: black;
  color: white;
}

footer {
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
}
