h1 {
  font-family: "Trebuchet MS";
  color: rgb(35, 105, 82);
  text-align: center;
  scale: 1.5;
}
.title {
  background-color: rgba(97, 171, 194, 0.555);
  height: 120px;
  text-align: center;
  border-radius: 20px;
  padding: 2px 5px;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(16, 71, 97);
}
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(16, 107, 100);
}
body {
  background-color: rgba(199, 226, 230, 0.486);
  font-family: "poppins";
}
p {
  font-family: "poppins";
  color: rgb(5, 73, 82);
}

.trek-content {
  background-color: rgba(154, 231, 231, 0.334);
  position: relative;
  font-family: poppins;
  color: rgb(7, 71, 100);
  margin-bottom: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.326);
  padding: 1.5rem;
  align-items: center;
  overflow: hidden;
}
.trek-content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(images/bckgrnd.png);
  border-radius: 15px;
  opacity: 0.25;
  z-index: -1;
}
.trek {
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  color: rgb(7, 71, 100);
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  padding: 1.5rem;
  align-items: center;
}

.trek img {
  width: 90%;
  height: auto;
  margin-top: 1rem;
  border-radius: 25px;
  transition: 1.5s;
}

.wrapper {
  text-align: center;
  width: 600px;
}

figcaption {
  font-style: italic;
  font-family: monospace;
  font-weight: bold;
}
.trek img:hover {
  scale: 1.5;
  box-shadow: rgba(36, 121, 27, 0.442) 1px 1px 50px 5px;
}
.date {
  font-size: small;
  color: rgb(16, 71, 97);
  font-family: "Courier New", Courier;
  font-style: italic;
  font-weight: bold;
}
