body {
  text-align: center;
}
h1 {
  font-family: poppins;
  font-size: 50px;
}
.container {
  position: relative;
  border: solid black 2px;
  width: 800px;
  height: 500px;
  margin: auto;
  background-color: rgba(202, 206, 208, 0.612);
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: -2;
}
.fist {
  width: 200px;
  position: absolute;
  left: 95px;
  top: 85px;
}
.adnan {
  position: absolute;
  width: 400px;
  right: 0;
  z-index: -1;
}
.button {
  text-align: center;
  margin: 40px;
  height: 100px;
  width: 500px;
  font-family: poppins;
  font-weight: bolder;
  font-size: 50px;
}
.punch {
  animation: punchAnimation 0.3s forwards;
}

@keyframes punchAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(350px);
  }

  100% {
    transform: translateX(0);
  }
}
.cookie-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.cookie-box img {
  width: 50px;
  height: auto;
}
@media (max-width: 600px) {
  .button {
    font-size: 1.5rem;
    width: 80%;
  }
  .container {
    width: 50%;
  }
  .fist {
    width: 35%;
    left: 5%;
    top: 25%;
  }

  .adnan {
    width: 60%;
  }
}
