body {
  background-color: rgb(43, 55, 56);
}
.title {
  color: rgb(241, 231, 217);
  font-size: 1.5rem;
  text-align: center;
  font-family: poppins;
  box-shadow: 5cap;
}
h2:hover {
  color: rgb(170, 243, 87);
}
.at {
  font-size: 10px;
}
table {
  width: 100%;
  display: flex;
  justify-content: center;
}
td {
  font-family: poppins;
  font-weight: 500;
  color: rgb(243, 243, 243);
  text-align: center;
  border-radius: 5px;
  width: 80px;
  height: 80px;
}
td:hover {
  scale: 1.3;
  transition: 0.5s;
  box-shadow: rgb(241, 241, 205) 1px 1px 15px 1px;
}
.emptytd {
  color: whitesmoke;
}
.emptytd:hover {
  scale: 1;
  box-shadow: none;
}
.c1 {
  /* seagreen hydrogen */
  background-color: rgb(14, 204, 179);
}
.c2 {
  /* yellow alkali metals */

  background-color: rgb(209, 212, 32);
}
.c3 {
  /* alkaline earth metals orange */
  background-color: rgb(230, 147, 23);
}
.c4 {
  /* blue transition metals */
  background-color: rgb(77, 151, 236);
}
.c5 {
  background-color: rgb(74, 5, 131);
}
.c6 {
  background-color: rgb(8, 44, 85);
}
.c7 {
  background-color: rgb(116, 130, 136);
}
.c8 {
  background-color: rgb(168, 10, 63);
}
.c9 {
  background-color: rgb(56, 214, 117);
}
.c10 {
  background-color: rgb(84, 202, 231);
}
.c11 {
  background-color: rgb(118, 8, 182);
}
.c12 {
  background-color: rgb(206, 71, 37);
}
