.title {
  background-color: bisque;
  text-align: center;
  font-family: poppins;
  border-width: 50px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 5cap;
}
.at {
  font-size: 10px;
}
table {
  width: 100%;
}
td {
  font-family: poppins;
  color: rgb(243, 243, 243);
  text-align: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
td:hover {
  scale: 1.5;
  transition: 1s;
}
.c1 {
  /* seagreen hydrogen */
  background-color: rgb(14, 204, 179);
}
.c2 {
  /* yellow alkali metals */

  background-color: rgb(209, 212, 32);
}
.c3 {
  /* alkaline earth metals orange */
  background-color: rgb(230, 147, 23);
}
.c4 {
  /* blue transition metals */
  background-color: rgb(77, 151, 236);
}
.c5 {
  background-color: rgb(74, 5, 131);
}
.c6 {
  background-color: rgb(8, 44, 85);
}
.c7 {
  background-color: rgb(116, 130, 136);
}
.c8 {
  background-color: rgb(168, 10, 63);
}
.c9 {
  background-color: rgb(16, 194, 84);
}
.c10 {
  background-color: rgb(110, 215, 241);
}
.c11 {
  background-color: rgb(118, 8, 182);
}
.c12 {
  background-color: rgba(190, 43, 6, 0.774);
}
