* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
nav {
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: center;
  font-family: poppins;
  /* border-top: solid black 1px; */
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
button {
  text-decoration: none;
  /* color: rgb(64, 73, 72); */
  color: rgb(10, 62, 78);
  font-size: larger;
  font-weight: bold;
  width: 150px;
  height: 60px;
  background-color: white;
  border-right: solid rgba(10, 62, 78, 0.158) 1px;
}
button:hover {
  background-color: rgba(16, 32, 56, 0.932);
  color: white;
}
.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 95%;
  border-radius: 10px;
}
.social-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-logo img {
  padding: 5px;
  width: 30px;
  height: 30px;
}
.social-logo img:hover {
  scale: 1.5;
  transition: 0.5s;
}
